body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerdiv {
  display: flex;
  text-align: center;
  margin: 1px;
  border-style: solid;
  height: 100%;
}

.boxclass {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  border-style: solid;
  height: 100%;
  width: 100%;
}

.button {
  width: 100%;
  height: 100%;
}

.resultDisplay {
  padding: 3px;
  width: 100%;
  height: 100%;
  text-align: left;
}

.cardTitle {
  width: 100%;
  border-bottom: 2px solid #3f51b5;
  border-radius: 5px;
}

.attributeDisplay {
  padding: 3px;
  width: 90%;
  height: 100%;
  text-align: left;
  border-bottom: 2px solid #2c387e;
}

.cardClass {
  padding: 8px;
  height: 100%;
  min-height: 30vh;
}

/* text {
  font-size: 18pt;
  color: white;
} */
